.wineSearch {
    min-width: 624px;
    position: relative;
}

.wineSearch header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wineSearch header > h3{
   margin-right: 12px;
}

.wineSearch .textInputWrapper {
    width: 100%;
    height: 48px;
    position: relative;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    background: #fff
}

.wineSearch img.searchIcon {
    position: absolute;
    top: 12px;
    left: 12px;
}

.wineSearch img.clearIcon {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}

.wineSearch .textInputWrapper input {
    position: absolute;
    width: 500px;
    left: 44px;
    top: 11px;
    line-height: 24px;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 13px;
    color: #0f1010;
    border: none;
    background: none;
}

.wineSearch .textInputWrapper input::placeholder {
    color: #ccc;
}

.wineSearch .searchResultsWrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.wineSearch .searchResult {
    width: 600px;
    height: 56px;
    margin: 0 12px;
    cursor: pointer;

    border-bottom: 1px solid #e8e8e8;

    display: flex;
    flex-direction: row;
    justify-content: space-between;;

    font-family: "Montserrat";
    font-size: 13px;
    line-height: 18px;
}

.wineSearch .searchResultLeft, .searchResultRight {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wineSearch .searchResultRight {
    text-anchor: right;
    color: #0f1010;
    align-items: flex-end;
}

.wineSearch .searchResultLeft {
    color: #0f1010;
}

.wineSearch .searchResultRight {
    text-align: right;
    color: #0f1010;
    opacity: 0.6
}

.wineSearch .lotCode {
    font-size: 15px;
    font-weight: 300;
}

.wineSearch .matchString {
    color: #00ada8;
}